<div id='map'></div>

<script type='text/javascript'>
  L.mapbox.accessToken = 'sk.eyJ1Ijoia3lyYXdlYmVyIiwiYSI6InZEdFp3NXMifQ.nkecORHZszvgvZLLNie9pA';
  var map = L.mapbox.map('map', 'kyraweber.lp8mldi9').setView([37.9, -77], 5);
</script>
