<div id='map'></div>

<div id='legend' style='display:none;'>
  <strong>Legend</strong>
  <nav class='legend clearfix'>
    <span style='background:#F1EEF6;'></span>
    <span style='background:#BDC9E1;'></span>
    <span style='background:#74A9CF;'></span>
    <span style='background:#2B8CBE;'></span>
    <span style='background:#045A8D;'></span>
    <label>1</label>
    <label>2</label>
    <label>3</label>
    <label>4</label>
    <label>5</label>
</div>

