<div id="home-popup">
<div id="close-btn">got it</div>
<div id="content">
  <h1>welcome to waterspot</h1>
  <section>
    <h3>View Gauge Stations</h3>
  </section>
  <section>
    <h3>Login to view crowd sourced ratings</h3>
  </section>
  <section>
    <h3>Contribute a spot</h3>
  </section>
  <section id="area">
    <h3>Create an area to watch for updates</h3>
    <%= image_tag("create_poly.jpg", class: "popup-photo") %>
  </section>
</div>
</div>

