<%= render partial: "homepage/map" %>
<%= render partial: "shared/footer" %>

<ol id="tour" style="display: none;">
  <li data-target="map" data-angle="130">
    The first step in the tour
  </li>
</ol>

