<div id="popup", class="hidden">
  <div id="close">X</div>
  <div id="content">
    <ol>rating system:
      <li>1: Alert-no water</li>
      <li>2: trickle</li>
      <li>3: sufficient for drinking</li>
      <li>4: steady cfs/</li>
      <li>5: swift, but still narrow</li>
      <li>6: boatable/good fishing</li>
      <li>7: class I-II,white-water</li>
      <li>8: high cfs, class II-III white-water</li>
      <li>9: Higher than average cfs</li>
      <li>10: Danger-flooding</li>
    </ol>
  </div>
</div>

