<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.username %>!</h1>
    <p><%= link_to "Sign in", 'https://waterspot.herokuapp.com/login' %> to see user spots
      or to add your own!</p>
  </body>
</html>
