<aside class="user-specs">
  <%= image_tag "giraffe.jpg", class: "profile-pic" %>
  <h4>geraldchomps</h4>
  <h5>jerrygerald@gmail.com</h5>
  <%= link_to "new spot",  new_user_spot_path(current_user), class:"small-new-spot" %>
</aside>

<svg id="spots">
  <g>
    <polygon points="151 68,179 38,175 5,56 7,6 33,13 57"></polygon>
    <text x=60 y=40>spots</text>
  </g>
</svg>

<%= render partial: "users/new_spot" %>

<%= render partial: "users/user_spots" %>

