@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

$main-blue:rgba(7, 60, 100, 0.79);
$mid-blue:rgba(31, 149, 239, 0.79);
$light-blue:rgba(141, 201, 247, 0.79);
$background-blue:#EDF6FA;

$main-font:'Montserrat Alternates', sans-serif;
