@import url(https://fonts.googleapis.com/css?family=Nixie+One);

$main-blue:rgba(7, 60, 100, 0.79);
$mid-blue:rgba(31, 149, 239, 0.79);
$light-blue:#dbdbdb;
$background-blue:#EDF6FA;

$main-font:'Nixie One', cursive;
