@import 'base';

#flash_notice{
  background-color:transparent;
}

#flash_error{
  background-color:red;
}

#flash_notice, #flash_error{
  position:absolute;
  top:130;
  left:42%;
  z-index:2000;
  text-align: center;
}
