@import 'base';

#flash_notice{
  background-color:transparent;
}

#flash_error{
  background-color:red;
}

#area_notice{
  top:120 !important;
}

#flash_notice, #flash_error, #area_notice{
  position:absolute;
  top:130;
  left:44%;
  z-index:2000;
  text-align: center;
}

