@import 'base';

.footer-poly{
  fill:$main-blue;
  stroke:$mid-blue;
  stroke-width:4px;
  text{
    stroke:none;
    fill:$light-blue;
  }
  width:100px;
  float:left;
  &:hover text{
    fill:$main-blue;
  }
}

footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:50px;
  width:100%;
  padding:10px;
  text{
    font-size:.8em;
  }
}

.icon, .git-icon, .ello-icon{
  width:20px;
  height:auto;
  position:absolute;
  top:21;
  left:3%;
  opacity:.8;
  @include media(1450px) { left:5%; }
}

.git-icon{
  left:8.5%;
  width:25px;
  @include media(1920px) { left:7.5%; }
  @include media(1750px) { left:8.5%; }
  @include media(1600px) { left:9%; }
  @include media(1500px) { left:9.5%; }
  @include media(1360px) { left:11.5%; }
}

.ello-icon{
  @include media(1920px) { left:13.5%; }
  @include media(1750px) { left:14.5%; }
  @include media(1600px) { left:16%; }
  @include media(1500px) { left:17%; }
  @include media(1360px) { left:21%; }
  @include media(1280px) { left:20%; }
  left:15%;
}
