@import 'base';

.footer-poly{
  fill:$main-blue;
  stroke:$mid-blue;
  stroke-width:4px;
  text{
    stroke:none;
    fill:$light-blue;
  }
  width:100px;
  float:left;
  &:hover text{
    fill:$main-blue;
  }
}

footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:50px;
  width:100%;
  padding:10px;
  text{
    font-size:.8em;
  }
}

.icon, .git-icon, .ello-icon{
  width:20px;
  height:auto;
  position:absolute;
  top:21;
  left:4%;
  opacity:.8;
}

.git-icon{
  left:11%;
  width:25px;
}

.ello-icon{
  left:19.5%;
  top:22;
  width:19px;
}
