@import 'base';

.form-group{
  color:$main-blue;
  font-family:$main-font;
  width:80%;
  margin:0 auto;
  padding:0px 20px;
  margin-bottom:20px;

  input{
    border:none;
    background-color:transparent;
    border-bottom:2px solid $mid-blue;
  }

  input[type="submit"]{
    border:2px solid $main-blue;
    &:hover{
      background-color:$main-blue;
      color:$light-blue;
    }
  }

  #submit-user{
    pointer-events:none;
  }

  label{
    width:100px;
  }
}

.hints{
  margin:0 auto;
  text-align:center;
}

#user_avatar{
  width:25%;
}

#user_remote_avatar_url{
  width:240px;
}

.login-twitter-link{
  display:block;
  margin:0 auto;
  width:14%;
  text-align:center;
  margin-top:30px;
  font-family:$main-font;
  color:$main-blue;
  position:relative;
  z-index:100;
  &:hover{
    border:2px solid $mid-blue;
  }
}

#tweet-login{
  position:absolute;
  z-index:10;
  margin:0 auto;
  text-align:center;
  width:100%;
  display:block;
  top:550px;
  @include media(1460px) { top:450px; }
  @include media(1400px) { top:500px; }
  @include media(970px) { top:450px; }
  @include media(770px) { top:400px; }
  @include media(575px) { top:360px; }
}

#or{
  width:100%;
  margin:0 auto;
  text-align:center;
  font-size:1.3em;
  font-family:$main-font;
  color:$mid-blue;
}

.sign-up-login{
  height:100px;
  margin-top:-20px;
}

.register-form{
  padding-top:12px;
}

.register-form, .login-form{
    width:80%;
    padding-top:42px;
    top:350px;
    left:33%;
    position:absolute;
    z-index:10;

    @include media(1860px) { top:330px; left:32%; }
    @include media(1660px) { top:300px; }
    @include media(1490px) { top:275px; left:30%; }
    @include media(1300px) { top:250px; left:29%; }
    @include media(1100px) { left:27%; }
    @include media(970px)  { top:230px; left:25%; }
    @include media(850px)  { top:210px; left:23%; }
    @include media(800px)  { top:180px; left:22%; }
    @include media(750px)  { left:21%; }
    @include media(730px)  { left:20%; }
    @include media(680px)  { left:19%; }
    @include media(660px)  { left:18%; }
    @include media(630px)  { left:17%; }
    @include media(600px)  { top:155px; left:13%; }
    @include media(458px)  { top:12%; background-color:rgba(255, 255, 255, 0.82);}
    @include media(380px)  { left:13%; }
  }
