@import 'base';

.form-group{
  color:$main-blue;
  font-family:$main-font;
  width:80%;
  margin:0 auto;
  padding:0px 20px;
  margin-bottom:20px;

  input{
    border:none;
    background-color:transparent;
    border-bottom:2px solid $mid-blue;
  }

  input[type="submit"]{
    border:2px solid $main-blue;
    &:hover{
      background-color:$main-blue;
      color:$light-blue;
    }
  }

  label{
    width:100px;
  }
}

.register-form, .login-form{
  margin:0 auto;
  width:60%;
  top:40%;
  left:23%;
  position:absolute;
  z-index:100;
}
