@import 'base';

.leaflet-control-attribution, .mapbox-logo{
  display:none;
}

.leaflet-control-zoom, .leaflet-control-mapbox-share, .leaflet-draw-section{
  top:200;
}

.map, #map{
  width:80%;
  height:75%;
  display:block;
  margin:20px;
  margin:0 auto;
}

#map{
  width:99.3%;
  height:98.8%;
  border:4px solid $main-blue;
  @include media(585px) { top:6.5%; }
  z-index:0;
}

#output{
  position:absolute;
  z-index:2000;
  bottom:2;
  right:2;
  background-color:$mid-blue;
}

.leaflet-popup-content{
  background-color:$main-blue;
  img{
    width:auto;
    height:100px;
  }
}

.popup, .gauge-pop{
  color:$light-blue;
  font-family:$main-font;
}

