@import 'base';

.slicknav_menu,{
  display:none;
  @include media(medium) { display:block; }
}
#menu {
  display:none;
}

.name{
  font-size:.8em;
}

.handheld{
  display:none;
  @include media(medium) { display:block; }
  img{
    width:30px;
    height:auto;
    float:right;
    display:inline;
    margin:5px;
  }
  h1{
    display:inline;
    a{
      margin:10px;
      color:$main-blue;
      font-family:$main-font;
      &:hover{
        color:$light-blue;
      }
    }
  }
}

.large-nav{
  height:155px;
  width:100%;
  position:absolute;
  z-index:1000;
  background-color:rgba(255, 255, 255, 0.72);
  border-bottom:5px solid $mid-blue;
  @include media(medium) { display:none; }
  h3{
    display:inline;
    position:absolute;
    margin:0 auto;
    margin-top:98px;
    margin-left:11%;
    background-color:$mid-blue;
    text-align:center;
    font-family:$main-font;
    font-size:1.3em;
    width:30%;
    @include media(1175px) { margin-left:8%; width:35% }
    @include media(1100px) { margin-left:5%; }
    @include media(1040px) { margin-left:3%; }
    @include media(970px)  { margin-left:-1%; width:40% }
    @include media(945px)  { display:none; }
  }
}

.profile text{
  font-size:.9em;
}
