@import 'base';

text{
  font-family:$main-font;
}

.waterspot-logo{
  width:270px;
  height:170px;
  margin:14px;
  &:hover polygon{
    transition: fill .7s ease;
    fill:transparent;
  }

  polygon{
    fill:$main-blue;
    stroke:$mid-blue;
    stroke-width:4px;
  }

  text{
    fill:$light-blue;
    font-size:2em;
  }
  .socail, .flow, .data{
    font-size:1.2em;
  }

  .flow{
    fill:$main-blue;
  }

  #data{
    fill:$main-blue;
    stroke:$mid-blue;
  }
  .data{
    fill:$light-blue;
  }
}

.register, .sign-in, .profile{
  fill:$main-blue;
  stroke:$mid-blue;
  stroke-width:4px;

  text{
    stroke:none;
    fill:$light-blue;
  }
}

.sign-in{
  width:165px;
  margin-top:30px;
}

.register{
  width:117px;
}

.border{
  fill:rgba(255, 255, 255, 0.82);
  stroke:$main-blue;
  stroke-width:4px;
  height:500px;
  width:417px;
  margin:0 auto;
  padding-top:17%;
  display:block;
  @include media(1040px) { padding-top:21%; }
  @include media(875px) { padding-top:26%; }
  @include media(755px) { padding-top:31%; }
  @include media(600px) { bottom:1%; }
  @include media(600px) { left:2%; }
  @include media(585px) { bottom:-21%; }
  @include media(585px) { left:-2%; }
  @include media(458px) { display:none; }
}

.profile{
  position:absolute;
  top:41%;
  left:82%;

  @include media(1220px) { left:81%; }
  @include media(1110px) { left:80%; }
  @include media(1090px) { left:78%; }
  @include media(980px) { left:76%; }
  @include media(930px) { left:74%; }
  @include media(840px) { left:72%; }
  @include media(810px) { left:70%; }
  @include media(730px) { left:68%; }
  @include media(670px) { left:66%; }
  @include media(630px) { left:64%; }
  @include media(600px) { left:62%; }

}
