@import 'base';

text{
    font-family:$main-font;
  }

.waterspot-logo{
  width:270px;
  height:170px;
  margin:10px;
  &:hover #waterspot{
    fill:$main-blue;
  }

  #waterspot{
    fill:none;
    stroke:$main-blue;
  }

  polygon{
    fill:$main-blue;
    stroke:$mid-blue;
    stroke-width:4px;
  }

  text{
    fill:$main-blue;
    font-size:2em;
  }
  .socail, .flow, .data{
    font-size:1.2em;
  }

  .flow{
    fill:$main-blue;
  }

  #data{
    fill:$main-blue;
    stroke:$mid-blue;
  }
  .data{
    fill:$light-blue;
  }
}


.sign-in{
  fill:$main-blue;
  stroke:$mid-blue;
  stroke-width:4px;
  width:165px;
  margin-top:30px;

  text{
    stroke:none;
    fill:$light-blue;
  }
}

.register{
  fill:$main-blue;
  stroke:$mid-blue;
  stroke-width:4px;
  width:117px;

  text{
    stroke:none;
    fill:$light-blue;
  }
}

.border{
  fill:none;
  stroke:$main-blue;
  position:relative;
  z-index:0;
  height:500px;
  width:417px;
  margin-left:25%;
}
