@import 'base';

body{
  color:$main-blue;
  background-image:image-url("background.jpg");


  .sign-up-login{
    float:right;
  }

  a{
    text-decoration:none;
    &:hover svg{
      fill:transparent;
    }
    &:hover text{
      fill:$main-blue;
    }
  }

  li{
    list-style:none;
  }

}
