@import 'base';

.profile-pic{
  height:150px;
  width:auto;
  position:absolute;
  top:240;
  -webkit-clip-path: polygon(50% 0%, 84% 21%, 91% 74%, 31% 100%, 8% 62%, 10% 19%);
  clip-path: polygon(50% 0%, 84% 21%, 91% 74%, 31% 100%, 8% 62%, 10% 19%);
  @include media(medium) { margin-left:-20px; top:65px; }
  @include media(590px) { height:120px; }
}

#spots{
  fill:$main-blue;
  stroke:$mid-blue;
  stroke-width:4px;
  height:15%;
  display:block;
  margin:0 auto;
  margin-top:162px;
  padding-left:30px;
  text{
    stroke:none;
    fill:$light-blue;
    font-size:1.3em;
  }
  @include media(1000px) { margin-left:36%; }
  @include media(870px) { display:none; }
}

#new-spot{
  position:absolute;
  fill:$main-blue;
  stroke:$mid-blue;
  stroke-width:4px;
  left:54%;
  top:30%;
  &:hover{
  transition: fill .7s ease;
    fill:none;
    text{
      fill:$main-blue;
    }
  }
  text{
    fill:$light-blue;
    stroke:none;
  }
  @include media(870px)  { display:none; }
  @include media(1000px) { left:56%; }
  @include media(950px)  { left:57%; }
}

.user-specs{
  display:inline;
  margin-left:30px;
  h5, h4{
    background-color:$mid-blue;
    margin-left:5%;
    position:absolute;
    top:410;
    @include media(medium) { top:214px; }
    @include media(590px) { top:230px; margin-left:8%; }
    @include media(470px) { top:94px; margin-left:59%; }
    @include media(440px) { margin-left:47%; }
  }
  h4{
    top:390;
    @include media(590px) { top:373px; }
    @include media(medium) { top:196px; }
    @include media(470px) { top:74px; }
  }
}

.spot-specs{
  width:24%;
  margin-left:46%;
  margin-top:-8%;
  text-align:center;
  li{
    text-align:left;
  }
  @include media(850px) { width:40%; margin-top:-12%; margin-left:53%; }
  @include media(medium) { width:40%; margin-top:-17%; margin-left:53%; }
  @include media(590px) { margin-top:-15%; margin-left:51%; }
  @include media(475px) { width:40%; margin-top:-19%; margin-left:45%; }
  @include media(400px) { margin-top:-24%; }
}

.water-pic{
  width:100px;
  height:100px;
  display:inherit;
  margin-left:37%;
  -webkit-clip-path: polygon(50% 0%, 88% 13%, 99% 76%, 50% 100%, 0 67%, 18% 12%);
  clip-path: polygon(50% 0%, 88% 13%, 99% 76%, 50% 100%, 0 67%, 18% 12%);
  @include media(470px) { margin-left:22%; }
  @include media(400px) { margin-left:12%; }
}

.spot-unit{
  margin-top:40px;
  figure img{
    &:hover{
      -webkit-filter: opacity(20%);
    }
  }
  &:first-of-type{
    @include media(medium) { margin-top:196px; }
  }
  @include media(medium) { margin-top:20px; padding-bottom:3px; }
}
