@import 'base';

.new_spot{
  top:38%;
  left:20%;
  position:absolute;
  z-index:100;
  width:60%;
  text-align:center;
}

.rating{
  text-align:center;
}

.cancel-link{
  color:$mid-blue;
  margin-left:5px;
}

.slicknav_nav a.small-new-spot{
  margin:0 auto;
}

a.small-new-spot{
  display:none;
  text-align:center;
  @include media(870px) { display:block; margin:0 auto; width:20%; }
  @include media(medium) { display:block; margin:0 auto; width:40%; }
  @include media(585px) { display:none;}
  font-family:$main-font;
  color:$main-blue;
  font-size:1.5em;
  &:hover{
    color:$mid-blue;
  }
}

.jcs{
  border-color:$mid-blue;
}

.jcs-value{
  background-color:$main-blue;
  border:2px solid $mid-blue;
  color:$light-blue;
}

.jcs-indicator{
  background-color:$main-blue;
  border:1px solid $mid-blue;
}

.hidden{
  display:none;
}

#spot_avatar{
  margin:10px;
}
