<footer>

<a href="https://twitter.com/KyraWeb" target="_blank">
  <svg class="footer-poly">
    <g>
    <polygon points="82 37,37 42,8 11,46 3,92 10"></polygon>
    <text x=30 y=25>twitter</text>
    </g>
  </svg>
</a>

<a href="https://github.com/kyraweber" target="_blank">
  <svg class="footer-poly">
    <g>
    <polygon points="51 46,9 32,8 12,72 6,80 30"></polygon>
    <text x=30 y=25>github</text>
    </g>
  </svg>
</a>

<a href="https://ello.co/steen_k" target="_blank">
  <svg class="footer-poly">
    <g>
    <polygon points="73 48,14 29,14 7,79 4,99 33"></polygon>
    <text x=30 y=25>ello</text>
    </g>
  </svg>
</a>

</footer>
