<ul id="menu">
  <h1><%= link_to "waterspot", root_path %></h1>
  <li><a href="/login">login</a></li>
  <li><a href="/users/new">register</a></li>
  <li><a href="#">dashboard</a></li>
  <% if current_user %>
    <%= link_to "new spot",  new_user_spot_path(current_user), class:"small-new-spot" %>
  <% end %>
</ul>

<script>
  $(function(){
    $('#menu').slicknav();
  });
</script>

<nav class="large-nav">
  <%= render "layouts/heading" %>
  <%= render "layouts/sign_in" %>
</nav>
