<ul id="menu">
  <h1><%= link_to "waterspot", root_path %></h1>
  <% if current_user %>
    <li><a href="/logout">logout</a></li>
    <li><a href="/users/:id">dashboard</a></li>
  <% else %>
  <li><a href="/login">login</a></li>
  <li><a href="/users/new">register</a></li>
  <% end %>
</ul>

<script>
  $(function(){
    $('#menu').slicknav();
  });
</script>

<nav class="large-nav">
  <%= render "layouts/heading" %>
  <h3>crowd sourced stream flow data</h3>

<% if current_user %>
<div class="sign-up-login">
  <%= render partial: "layouts/user_nav_bar" %>
</div>
<% else %>
<div class="sign-up-login">
  <%= render partial: "layouts/guest_nav" %>
</div>
<% end %>


</nav>
