<div class="sign-up-login">

<%= link_to login_path do %>
<svg class="sign-in">
  <g>
    <polygon points="107 47,67 64,5 52,7 24,51 6,91 20">
    </polygon>
    <text  x=50 y=45>login</text>
  </g>
</svg>
<% end %>

<a href="#">
<svg class="register">
  <g>
  <polygon points="119 48,156 75,251 94,262 68,220 26,169 29"></polygon>
  <text class="register" x=140 y=65>register</text>
  </g>
</svg>
</a>

</div>
